Repository hidoo/sass-importer: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint, stylelint --allow-empty-input --fix, prettier --write

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "**/*.js": ["eslint"],
  "**/*.scss": ["stylelint --allow-empty-input --fix"],
  "**/*.{scss,js,json}": ["prettier --write"]
}

chore(deps): update dependency mocha to v10.4.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency sass to v1.75.0
  package.json
  pnpm-lock.yaml
  test/util.js
Due: eslint, prettier --write

ci(github): add test workflow
  .github/workflows/test.yml
Due: none

docs(readme): add status badge
  README.md
Due: none

docs(readme): tweaks code examples
  README.md
Due: none

chore(renovate): configure
  renovate.json
Due: prettier --write

fix!: support compileAsync API
  .eslintrc.json
  src/index.js
  test/index.test.js
  test/util.js
Due: eslint, prettier --write

docs(readme): update usage
  README.md
Due: none

test: add test case to use @forward rule with sass.compileAsync
  test/index.test.js
Due: eslint, prettier --write

chore(release): publish 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write
